@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* font-family: "Inter", sans-serif; */
@import url('https://fonts.googleapis.com/css2?family=Herr+Von+Muellerhoff&family=Inter:wght@100..900&display=swap');

/* font-family: "Herr Von Muellerhoff", cursive; */
* {
    background-color: black;
    color: white;
}

div>p {
    color: #ffffff80;
}

body {
    font-family: "Inter", sans-serif;
    max-width: 1440px;

}

/* .heading,
.heading>h3,
.heading>i,
.heading-elements,
.menu,
.front-main,
.front-left,
.front-left>h1,
.span,
.front-btn {
    background: transparent !important;
} */


.front {
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    /* background-image: linear-gradient(to bottom, #000000, #434343, #000000); */

}

.head2>nav>label {
    display: none;
}

.heading h3 {
    font-size: 1.8rem;
    color: #E6533C;
    margin-left: 50px;

}

.heading-elements {
    margin: 0 auto 0 auto;
    width: 80%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    /* border: 2px solid white; */
    align-items: center;

}

.menu {
    /* border: 1px solid white; */
    border-radius: 50px;
    align-items: center;
    text-align: center;
}

.menu ul {
    border: 1px solid white;
    display: flex;
    text-align: center;
    list-style: none;
    gap: 30px;
    padding: 10px 10px;
    border-radius: 30px;
    /* margin-right: 25px; */
    align-items: center;

}

.menu ul li a {
    text-decoration: none;
    color: white;
    align-items: center;

}

.btn-menu {
    background-color: #E6533C;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 700;
}

.front-main {
    display: flex;
    flex-direction: row;
    /* border: 1px solid white; */
    height: auto;
}

.span {
    font-family: "Herr Von Muellerhoff", cursive;

}

.front-left {
    height: auto;
    width: 60%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.front-left>h1 {
    font-size: 4rem;
    margin-left: -100px;
}

.front-left>p {
    font-size: 1rem;
    background-color: black;
}

.front-right {
    background-image: url(../images/Images\ 2.png);
    background-repeat: no-repeat;
    background-position: bottom;
    width: 40%;
    height: auto;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
}

.btn-primary {
    background-color: #E6533C;
    width: 224px;
    height: 54px;
    border: none;
    border-radius: 30px;
    font-size: 1.3rem;
    font-weight: 700;
}

#btn-second {
    background-color: black;
    color: white;
    border: 1px solid white;
}


#btn-second:hover {
    background-color: #E6533C;
    color: white;
}

.class1 {
    height: fit-content;
    width: 200px;
    /* border: 1px solid white; */
    border-radius: 12px;
    margin-top: 200px;
    margin-left: 300px;
    background-color: rgba(34, 34, 34, 0.75)
}

.class2 {
    height: fit-content;
    max-width: 200px;
    width: 100%;
    /* border: 1px solid white; */
    border-radius: 12px;
    margin-top: 200px;
    background-color: rgba(34, 34, 34, 0.75);
}


#class1>h1,
p {
    padding-left: 20px;
    background-color: rgba(34, 34, 34, 0.75)
}

#class2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color: rgba(34, 34, 34, 0.75);
}

.class2-des {
    background-color: rgba(34, 34, 34, 0.75)
}

.class2-des>h1 {
    background-color: rgba(34, 34, 34, 0.75)
}

.circle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #E6533C;
}

/* second section design */
.second {
    width: 80%;
    height: auto;
    margin: 100px auto 100px auto;
    /* border: 1px solid white; */
}

.h-descrip,
.habit-element>p,
.f-descrip {
    background-color: black;
}

.habit-elements-one {
    text-align: center;
}

.h-heading,
.r-heading,
.f-heading {
    font-size: 2.5rem;

}

.h-descrip,
.r-descrip,
.habit-element>p,
.f-descrip {
    font-size: 1rem;
}

.habit-elements-two {
    margin: 50px auto 10px auto;
    display: inline-flex;
    gap: 30px;
    padding-left: 30px;
    /* justify-content: center;
    align-items: center; */

}

.habit-element {
    height: 290px;
    width: 225px;
    /* display: flex;
    flex-direction: column; */
    /* border: 1px solid white; */
    text-align: center;

}

.habit-element>img {
    border-radius: 50%;
}

/* third section design */
.third,
.run,
.run-elements,
.r-heading,
.r-btn,
.fifth,
.fifth-element,
.fifth-element-one,
.fifth-element-two,
.fifth-h1,
.fifth-table,
.seventh,
.seventh-element,
.seventh-elements,
.footer,
.footer-elements,
.footer-element,
.footer-end {
    background: #222222;
}

.footer-element>h3,
.foot-head,
.foot-i {
    background: #222222;
}

.third {
    width: 80%;
    height: auto;
    /* border: 1px solid white; */
    margin: 0 auto 100px auto;
    border-radius: 10px;


}

.run {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 190px;
    border-radius: 10px;

}

#run-elements-one {
    display: flex;
    flex-direction: column;
}

#run-elements-one>h1,
.r-btn {
    padding-left: 15px;
    margin-top: 10px;
}

.run-elements>img {
    height: 300px;
    width: 312px;
    object-fit: fill;
    object-position: 100%;
    border-radius: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
}

/* fourth section design */
.fourth,
.sixth {
    margin: 50px auto 50px auto;
    height: auto;
    width: 50%;
    /* border: 1px solid white; */
}

.f-heading {
    margin-left: 15px;
}

/* fifth section design */
.fifth {
    max-width: 1440px;
    width: 100%;
    height: auto;
    /* border: 1px solid white; */
    margin-top: 100px;
}

.fifth-elements {
    display: flex;
}

.fifth-element-one {
    width: 45%;
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fifth-element-two {
    width: 55%;
    /* border: 1px solid white; */
}

.fifth-h1 {
    font-size: 2rem;
    font-weight: bold;
    margin: 10px 0 0 -10px;
}

.fifth-table {
    text-align: left;

}

table {
    margin: 50px 50px;
    border-collapse: collapse;
    background: transparent !important;
}

td,
th {
    border: 2px solid #ffffff1f;
    padding: 10px 20px;
    background: #222222;
    color: #ffffff80;
}

th {
    color: white;
}

/* .fifth-element-two {
    margin-top: 50px;
} */
.fifth-element-top {
    background-color: #222222;
}

.fi-heading {
    font-size: 2rem;
    margin-top: 80px;
    background-color: #222222;
}

.fi-descrip {
    margin-left: -20px;
}

.input {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    background-color: #222222;
    margin-right: 150px;
    margin-top: 40px;
    margin-bottom: 40px;

}

input::placeholder {
    color: #ffffff80;
    padding-left: 1rem;
}

#select {
    color: #ffffff80;
    padding-left: 1rem;
}

.box-one {
    height: 45px;
    width: 280px;
    /* padding-right: 30px; */
    background-color: #ffffff1f;
    border: none;
    border-radius: 10px;
    margin-right: -400px;
}

#box-two {
    width: 575px;
    color: #ffffff80;
    padding-left: 1rem;
}

.fi-btn {
    background-color: #222222;
    margin-bottom: 40px;
}

/* sixth section design */
.sixth {
    margin-top: 100px;
    text-align: center;
}

/* seventh section design */
.seventh {
    max-width: 1440px;
    width: 80%;
    height: auto;
    /* border: 1px solid white; */
    border-radius: 12px;
    margin: 100px auto 100px auto;

}

.seventh-elements {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 30px;
    padding-bottom: 40px;
}

.seventh-element,
.seventh-element>img {
    width: 315px;
    height: 272px;
    /* border: 1px solid white; */
    border-radius: 18px;
}

.seventh-element {
    position: relative;

    color: white;
}

.seventh-element>img {
    margin-top: 20px;
}

.bottom-left {
    position: absolute;
    bottom: 5px;
    left: 10px;

}

.bottom-left,
.bottom-left>h3,
p {
    background: transparent !important;
}

.bottom-left>h3 {
    margin-left: 15px;
}

/* footer section design */
.footer {
    max-width: 1440px;
    width: 100%;
    height: 489px;
    margin: 0;
}

.footer-elements {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 130px;
    padding-top: 50px;
}

.footer-element {
    display: flex;
    flex-direction: column;
}

.foot-head {
    font-size: 60px;
    color: #E6533C;
    margin-left: 15px;
}

.foot-descrip {
    font-size: 14px;
}

.footer-element>h3 {
    margin-left: 15px;
}

.line {
    width: 70%;
    background-color: #ffffff80;
    margin-top: 50px;
}

.footer-end {
    margin-top: 30px;
}

@media screen and (max-width:576px) {
    .front {}

    .menu {
        visibility: hidden;
    }

    .front-main {
        flex-direction: column;
        height: auto;
        width: 100%;
        /* margin-left: 35px;
        margin-right: 35px; */
        align-items: center;
        justify-content: center;
    }

    .front-left {
        width: 100%;

    }

    .front-left>h1 {
        margin-left: -10px;
    }

    .front-right {
        width: 100%;
        background-position: ;
        height: 700px;
    }

    .class2 {
        margin-bottom: 550px;

    }

    .class1 {
        margin-top: 100px;
        margin-left: 160px;
    }

    .btn-primary {
        width: 180px;
        height: 40px;
    }

    .heading,
    .menu {
        display: none;
    }

    .head2 {
        /* border: 1px solid white; */
    }

    .head2 nav label {
        visibility: visible;
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        gap: 200px;
        color: white;
    }

    .head2 nav label h3 {
        font-size: 1.7rem;
        color: red;
    }

    /* second section design */
    .second {
        width: 90%;
        height: auto;
    }

    .habit-elements-two {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;

    }

    /* .habit-element {
        height: auto;
        width: 150px;

    }

    .habit-element>img {
        height: 100px;
        width: 100px;
    } */

    /* third section design */

    .run {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .run-elements>img {
        object-fit: fill;
        object-position: 50%;
        margin: 0;
        width: 287px;
        height: 170px;

    }

    .r-btn {
        text-align: center;
        padding-left: 0;
    }

    #run-btn {
        width: 300px;
    }

    .third {
        width: 90%;
    }

    .run-elements>img {
        width: 320px;
    }

    .fourth {

        width: 90%;

    }

    /* fifth page design */
    .fifth {
        margin-left: auto;
        margin-right: auto;
    }

    table {
        margin-left: 20px;
    }

    .fifth-h1 {
        margin-right: 30px;
    }

    .fifth-elements {
        display: flex;
        flex-direction: column;
    }

    .fifth-element-one {
        width: 100%;
    }

    .fifth-element-two {
        width: calc(100% - 20px);
        padding-left: 20px;
    }



    .box-one {
        width: 180px;
        margin-right: -190px;
    }

    #box-two {
        width: 375px;

    }

    /* sixth page design */
    .sixth {
        width: 80%;
    }

    /* seventh page design */
    .seventh-elements {
        display: flex;
        flex-direction: column;
    }

    .seventh-element,
    .seventh-element>img {
        width: 270px;
        height: 270px;
        /* border: 1px solid white; */
        border-radius: 18px;

    }

    /* footer design */


    .footer-elements {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: start;
        gap: 10px;

    }

    .footer-element {
        text-align: left;
    }



    .foot-descrip {

        width: 90%;
    }

    .footer-element>h3 {
        margin-left: 20px;
    }

    .line {
        width: 70%;
        background-color: #ffffff1f;
        margin-top: 50px;
    }

    .footer-end {
        margin-top: 0px;
    }

    .last-p {
        background-color: #ffffff80;
    }
}